# ─── FRONTEND (user_interface) CONFIGS ──────────────────────────────
BUN_PUBLIC_INPUT_URL=http://192.168.200.219/input
BUN_PUBLIC_RELAY_BASE_URL=http://192.168.200.219/relay
BUN_PUBLIC_BE_BASE_URI=http://localhost:4000
BUN_PUBLIC_USERNAME=
BUN_PUBLIC_PASS=
BUN_PUBLIC_DEFAULT_PROJECT_NAME=
BUN_PUBLIC_DEFAULT_DATASET_DIR=/dataset_volume/dataset

# ─── BACKEND (backend_api) CONFIGS ──────────────────────────────────
# NODEODM_URI_BASE or WEBODM_URI_BASE can be used to point to the NodeODM node instance.
NODEODM_URI_BASE=http://host.docker.internal:8000
WEBODM_URI_BASE=http://host.docker.internal:8000
CORS_ORIGIN=http://localhost:4001

# ─── CAMERA CAPTURE (camera_interface) CONFIGS ──────────────────────
INPUT_URL=http://192.168.200.219/input
START_RELAY_URL=http://192.168.200.219/relay/0
DATASET_DIR=/app/dataset_volume/dataset
PHOTO_TRIGGER_PIN=33
CAMERA_PATH=/dev/video2
MAX_CAPTURES=20
BUILD_DIR=build
EXECUTABLE_NAME=ur5_capture
