#!/usr/bin/env bash

# ==============================
# UR5 + OpenSfM Capture Config
# ==============================

ENDPOINT_URL="http://192.168.200.219/input"

DATASET_DIR="../dataset"

TRIGGER_PIN=33
STOP_PIN=32

CAMERA_INDEX=0

BUILD_DIR="build"

EXECUTABLE_NAME="cam_interface"