BUN_PUBLIC_INPUT_URL="http://192.168.200.219/input"
BUN_PUBLIC_RELAY_BASE_URL="http://192.168.200.219/relay"
BUN_PUBLIC_BE_BASE_URI="http://127.0.0.1:4000"
BUN_PUBLIC_USERNAME=
BUN_PUBLIC_PASS=
BUN_PUBLIC_DEFAULT_PROJECT_NAME=PersepsiRobot
BUN_PUBLIC_DEFAULT_DATASET_DIR=/dataset